html, body {
    height: 100%;
}

h1 {
    color: indigo;
    text-shadow: 1px 1px white;
    text-align: center;
    font-size: 200px;
    font-family: 'Bebas Neue', cursive;
    margin: 20px 0px 20px 0px;
}

.main {
    width: 100%;
    background-image: url('https://github.com/megswen/Psychic-Game/blob/master/assets/images/blue-and-purple-cosmic-sky-956999.jpg?raw=true');
    background-repeat: repeat;
    min-height: 100%;
    position: relative;
    padding: 0px;
    margin: 0px;
}

div {
    border: 4px double white;
    margin: 0px 200px 30px 200px;
}

h2 {
    color: lightgray;
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

p {
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}